# Node
node_modules/
dist/
dist-ssr/
*.local

# Frontend env
iceburg-ui/.env
iceburg-ui/.env.local

# Foundry
contracts/cache/
contracts/out/
contracts/broadcast/*/31337/
contracts/broadcast/**/dry-run/
contracts/.env


# Editors / OS
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
